@model IQueryable<Card>
@{
    string strTitle = "Администратор ппвнель";
    ViewBag.Title = strTitle;
}

<div>
    @await Html.PartialAsync("AdminMenuPartial")

    <div class="">
        <div class="admin_block_inner">
            @if (Model.Any())
            {
                <div class="head_admin-table">
                    <div>

                    </div>
                    <div class="head_admin-table_head">
                        Заявки
                    </div>
                    <div>
                        <a class="menu_item_href add_card" asp-area="Admin" asp-controller="Card" asp-action="Edit" asp-route-id="">Добавить карточку</a>
                    </div>
                </div>
                <table class="service_table t10_col">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Дата добавления</th>
                            <th>Тип заявки</th>
                            <th>Адрес</th>
                            <th>Статус</th>
                            <th>Ответственный</th>
                            <th>Исполнитель</th>
                            <th>Срок исполнения</th>
                            <th>Удалить</th>
                            <th>Изменить</th>
                        </tr>
                    </thead>
                    @foreach (Card card in Model)
                    {
                        <tr>
                            <td>@card.ID</td>
                            <td>@card.DateAdded</td>
                            <td>@card.TypeCard.Name</td>
                            <td>@card.Address</td>
                            <td>@card.Status.Name</td>
                            <td>@card.ManagerID</td>
                            <td>@card.Contractor.Name</td>
                            <td>@card.EndDate</td>
                            <td><a asp-area="Admin" asp-controller="Card" asp-action="Delete" asp-route-id="@card.ID">Удалить</a></td>
                            <td><a asp-area="Admin" asp-controller="Card" asp-action="Edit" asp-route-id="@card.ID">Изменить</a></td>
                        </tr>
                    }
                </table>
            }
        </div>
    </div>

</div>

