@model IQueryable<Card>
@{
    string strTitle = "Администратор ппвнель";
    ViewBag.Title = strTitle;
}

<div>
    <h2>@strTitle</h2>
    @await Html.PartialAsync("AdminMenuPartial")
    @if (Model.Any())
    {
        <div class="wrapper">
            <div class="result_block_inner">
                <a asp-area="Admin" asp-controller="Card" asp-action="Edit" asp-route-id="">Добавить карточку</a>
                <table border="1">
                    <tr>
                        <td>Id</td>
                        <td>Дата добавления</td>
                        <td>Тип заявки</td>
                        <td>Описание</td>
                        <td>X</td>
                        <td>Y</td>                        
                        <td>Адрес</td>
                        <td>Фото</td>
                        <td>Статус</td>
                        <td>Ответственный</td>
                        <td>Исполнитель</td>
                        <td>Заявитель</td>
                        <td>Срок исполнения</td>
                    </tr>
                    @foreach (Card card in Model)
                    {
                <tr>
                    <td>@card.ID</td>
                    <td>@card.DateAdded</td>
                    <td>@card.TypeCard.Name</td>
                    <td>@card.Text</td>
                    <td>@card.Pos_X</td>
                    <td>@card.Pos_Y</td>
                    <td>@card.Address</td>
                    <td>@card.PhotoPath</td>
                    <td>@card.Status.Name</td>
                    <td>@card.ManagerID</td>
                    <td>@card.Contractor.Name</td>
                    <td>@card.UserID</td>
                    <td>@card.EndDate</td>
                    <td><a asp-area="Admin" asp-controller="Card" asp-action="Delete" asp-route-id="@card.ID">Удалить</a></td>
                </tr>
                    }
                </table>
            </div>
        </div>
    }
</div>

