@model Card
@{
    ViewBag.Title = "Заявка № "+ Model.ID;
}
<div class="new_main_block">
    <div class="new_main_block_inner">
        <h1>Заявка № @Model.ID</h1>
        <form asp-area="Admin" asp-controller="Card" asp-action="Edit" method="post" enctype="multipart/form-data">
            <div class="new_form">
                <div asp-validation-summary="All"></div>
                <div class="new_form_col">
                    <div class="new_form_item">
                        <div class="new_form_item_head">
                            Тема
                        </div>
                        <div>@Model.TypeCard.Name</div>
                    </div>

                    <div class="new_form_item">
                        <div class="new_form_item_head">
                            Статус заявки
                        </div>
                        <div>
                            @Model.Status.Name
                        </div>
                    </div>


                    <div class="new_form_item">
                        <div class="new_form_item_head">
                            Описание заявителя
                        </div>
                        <textarea class="new_form_item_body" id="new_form_text">
                            @Model.Text
						</textarea>
                    </div>
                    <div class="new_form_item">
                        <div class="new_form_item_head">
                            Фотографии позволят лучше понять проблему
                        </div>
                        <input type="file" name="CardFile" id="CardFile">
                    </div>

                    <div class="new_form_item">
                        <div class="new_form_item_head">
                            Исполнитель
                        </div>
                        <div>
                            @Model.Contractor.Name
                        </div>
                    </div>

                    <div class="new_form_item">
                        <div class="new_form_item_head">
                            Срок выполнения
                        </div>
                        <div>
                            @Model.EndDate
                        </div>
                    </div>
                </div>

                <div class="new_form_col">
                    <div class="new_form_item">
                        <div id="info" class="new_form_item_head">
                            Можно отметить место на карте
                        </div>
                        <div id="map" class="new_form_map">

                        </div>
                    </div>
                    <div class="new_form_item new_form_item_adr">
                        <div class="new_form_item_head">
                            Адрес
                        </div>
                        <div>
                            @Model.Address
                        </div>
                    </div>
                </div>

            </div>

            <div class="submit_new_form">
                <div class="btn314">
                    <a class="btn314" href="/Admin/Home/Cards">Назад</a>

                </div>
            </div>
        </form>
    </div>
</div>