@model IQueryable<Card>
@{
    string strTitle = "Мой город";
    ViewBag.Title = strTitle;
}

<div class="main_block_bg">
    <div class="main_block_inner">

        <div class="start_block">
            <h1>Город Калуга</h1>
            <span id="start_block_span">
                Оставь заявку, сообщи о проблеме
            </span>
            <div class="start_block_btn">
                <div class="btn314">
                    <a id="start_block_btn_span" asp-area="" asp-controller="Card" asp-action="New" asp-route-id="">Оставить заявку</a>
                </div>
                <a id="start_block_btn_spanMore" href="#">Подробнее</a>
            </div>
        </div>
        <div class="static_block">
            <div class="start_block_item">
                <div>Общее количество заявок</div>
                <div>@ViewBag.Num</div>
            </div>
            <div class="start_block_item">
                <div>Количество исполненных заявок</div>
                <div>@ViewBag.Num1</div>
            </div>
        </div>
        <div class="btn380 viewResult">
            <a id="viewResult_span" href="#">
                Посмотреть результаты
            </a>
        </div>

    </div>
</div>
<div class="result_block">
    <div class="wrapper">
        <div class="result_block_inner">
            <h2>Результаты работы проекта</h2>

            @if (Model.Any())
            {
                <div class="result_block_inner">
                    @foreach (Card card in Model)
                    {
                        if (card.ID != null)
                        {
                            ViewBag.IDD = card.ID;
                        }
                        else
                        {
                            ViewBag.IDD = "Kaluga1.png";
                        }
                        <div class="result_block_item">
                            <h3>@card.Address</h3>
                            <div class="result_block_item_card_num">
                                <p class="card_num_name">Номер заявки:</p>
                                <span class="card_num_num">@card.ID</span>

                            </div>

                            <div class="result_block_item_photo_block">
                                <div class="photo">
                                    Было
                                    <img id="1" src="~/images/@ViewBag.IDD">
                                </div>


                                <div class="photo">
                                    Стало
                                    <img src="~/images/Kaluga1.png">
                                </div>
                            </div>

                            <div class="result_block_item_footer">
                                <div class="result_block_item_footer_status">
                                    <div class="@{switch (Convert.ToString(card.StatusID))
                                        {
                                                 case "00000000-0000-0000-0000-000000000001":
                                                     @:borderClr_red
                                                         break;
                                                 case "00000000-0000-0000-0000-000000000002":
                                                     @:borderClr_yellow
                                                         break;
                                                case "00000000-0000-0000-0000-000000000003":
                                                     @:borderClr_green
                                                         break;
                                        }} result_block_item_footer_status_img"></div>
                                    <div class="result_block_item_footer_status_text">
                                        @card.Status.Name
                                    </div>
                                </div>
                                <div class="result_block_item_footer_btn">
                                    <div class="btn314 viewMore">
                                        <a asp-area="" asp-controller="Card" asp-action="More" asp-route-id="@card.ID">Узнать подробнее</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }

        </div>
    </div>
</div>